.main_conteiner{
  margin-top:0;
}
.header{
  font-size: 2rem;
 background-color: #FFD439;
 padding-bottom: 2rem;
 padding-top: 1.2rem;

}
.main_title{
  border: solid black;
  background-color: black;
  font-weight: bold;
  color:whitesmoke;
  border-radius: 1rem;
  padding: 0.5rem;
}
.nav-bar_container{
  width: 100vw;
}
.nav_container{

  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
  padding: 1rem 0 1.5rem 0;
 
  background-color: #FFD439;}
.nav_select{
  padding: 0.2rem;
  border-radius: 1rem;
  
}
.pagiation_container{
 
  display: flex;
  align-items: center;
  justify-content: center;
background-color: #FFD439;  
padding-bottom: 1.5rem;
 
}
.pagination_number{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.2rem;
  padding: 0.3rem;
  color: antiquewhite;
  background-color: black;
  border:  black ;
  border-radius: 0.7rem;
  width: 2rem;
  height: 1rem;
}

.pagination_number:hover{
  color: black;
  background-color: antiquewhite;
  cursor: pointer;
  border:  antiquewhite;

}

.card_container {
  display: grid;
  height: 135vh;
  width: 100vw;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
 justify-content: center;
 align-items: center;
 
 background-color:#eae6e5;
}
.card_container a {
  margin: 1rem 0 5rem 0;
  text-decoration: none;
  color: black;
  max-height: 100%;
  max-width: 100%;
  width: 18rem;
  height: 25rem;
}
